{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Aggregator</title>
    <link rel="stylesheet" href="{% static 'news_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'news_app/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'news_app/js/bootstrap.min.js' %}">
</head>
<body>
    <header class='container text-left'>
        <div class="row">
            <div class="col-sm-5 mt-3 mr-5">
                <img id="category_open" src="{% static 'news_app/images/category.png' %}" width=53 height=53 alt="" onclick="category_open()">
                <img id="category_close" src="{% static 'news_app/images/close_category.jpg' %}" style='border-radius:300px;' width=53 height=53 alt="" onclick="category_close()">
                <span class='ml-4 mt-1 text-light' style='font-family:stencil;font-size:33px;'>News-Aggregator</span>
                <div class="container mt-2" id='categories'>
                    <div class="row mt-2">
                        <div class="col-sm-6">
                            <a href="{% url 'news_category' 'education' %}" class='text-center nav-link ml-4 text-secondary alert alert-secondary'>EDUCATIONAL</a>                   
                            <a href="{% url 'news_category' 'regional' %}" class='text-center nav-link ml-4 text-secondary alert alert-secondary'>REGIONAL</a>                   
                            <a href="{% url 'news_category' 'economy' %}" class='text-center nav-link ml-4 text-secondary alert alert-secondary'>ECONOMY</a>                   
                            <a href="{% url 'news_category' 'business' %}" class='text-center nav-link ml-4 text-secondary alert alert-secondary'>BUSINESS</a>                   
                        </div>
                        <div class="col-sm-6">
                            <a href="{% url 'news_category' 'international' %}" class='text-center nav-link ml-4 text-secondary alert alert-secondary'>INTERNATIONAL</a>                   
                            <a href="{% url 'news_category' 'medical' %}" class='text-center nav-link ml-4 text-secondary alert alert-secondary'>MEDICAL</a>  
                            <a href="{% url 'news_category' 'sports' %}" class='text-center nav-link ml-4 text-secondary alert alert-secondary'>SPORTS</a>                   
                            <a href="{% url 'news_category' 'entertainment' %}" class='text-center nav-link ml-4 text-secondary alert alert-secondary'>ENTERTAINMENT</a>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ml-1 mt-3 text-center">
                <small>TODAY :</small> <br>
                <small style='color:#57aaac;'>{% now "jS F Y " %}</small><br>
                <small style='color:#57aaac;'>{% now "H:i" %} (UTC)</small><br>
            </div>
            <div class="col-sm-3 ml-1 mt-3 text-center">
                <form action="" method="POST">
                    {% csrf_token %}
                    <small>WEATHER :</small> <br>
                <small>
                    <select name="city" id="region" class='text-center form-control w-auto mb-1 mt-1 badge badge-dark'>
                        <script>
                            var countries = ["Delhi", "Maharastra", "Kolkata", "Madhya Pradesh", "Uttar Pradesh", "Tamil Nadu", "Gujarat", "Uttrakhand", "HP", "Telangana"]
                            for(var i=0;i<countries.length;i++)
                            {
                                document.write("<option value='"+countries[i]+"'>"+countries[i]+"</option>")
                            }
                        </script>
                    </select>
                    <input type="submit" value="CHECK" class='btn btn-secondary'>
                <br>
                </small>
                </form>
                </small><small style='color:#57aaac;'>{{temp}} Ferhenite </small><br>
                <!-- <small style='color:#000000;'>( Rainy )</small> -->
            </div>
        </div>
    </header>

    <div class="container  mt-5 text-secondary">
        <h5 class="text-center" style='color:#ddd;'>COVID-19 Latest Cases Updates -</h5>
        <table class='table' border=1 style="color:#ddd;">
            <tr>
                <th></th>
                <th>Infected</th>
                <th>Deaths</th>
                <th>Recovered</th>
            </tr>
            <tr>
                <td>World-Wide</td>
                <td>{{total_cases}}</td>
                <td>{{total_deaths}}</td>
                <td>{{total_recovered}}</td>
            </tr>
            <tr>
                <td>India</td>
                <td>{{india_cases}}</td>
                <td>{{india_deaths}}</td>
                <td>{{india_recovered}}</td>
            </tr>
        </table>
    </div>



    <div id="news" class="container text-center mt-2 mb-5">
        <h3 class='mt-2'>TOP LATEST NEWS</h3>
        
    {% for x in headlines %}
    {% with forloop.counter|cut:" " as index %}
        <div class="card container border-dark mt-4 mb-4" style="max-width: 1200px;">
            <div class="card-body">
              <h4 class="card-title" style='color:#ddd;'>{{x}}</h4>
              <p class="card-text text-secondary" style='color:#888888;'>{{details|slice:index|last}}</p>
            </div>
            <div class="card-footer bg-transparent border-dark">
                <div class="row">
                    <small class="col-sm-6 text-secondary">Updated {{times|slice:index|last}}</small>
                    <small class="col-sm-6"><a href="{{links|slice:index|last}}" class='nav-link'>READ MORE</a></small>
                </div>
            </div>
        </div>
    {% endwith %}
    {% endfor %}
        
    <button class='btn btn-info' id='load_more' onclick="show_more()">LOAD MORE</button>

    <div class="container" id="more_news">
        {% for more_x in more_headlines %}
        {% with forloop.counter|cut:" " as more_index %}
            <div class="card container border-dark mt-4 mb-4" style="max-width: 1200px;">
                <div class="card-body">
                <h4 class="card-title" style='color:#ddd;'>{{more_x}}</h4>
                <p class="card-text text-secondary" style='color:#ddd;'>{{more_details|slice:more_index|last}}</p>
                </div>
                <div class="card-footer bg-transparent border-dark">
                    <div class="row">
                        <small class="col-sm-6 text-secondary">Updated {{more_times|slice:more_index|last}}</small>
                        <small class="col-sm-6"><a href="{{more_links|slice:more_index|last}}" class='nav-link'>READ MORE</a></small>
                    </div>
                </div>
            </div>
        {% endwith %}
        {% endfor %}
    
    </div>

    </div>
    
    <footer class='container text-center'>
        @ COPYWRITE 2020
    </footer>
    
    <script src='{% static "news_app/js/jquery.js" %}'></script>
    <script src='{% static "news_app/js/react.js" %}'></script>
    
</body>
</html>

<script>
    
</script>