body{
    font-family: verdana;
    color: #e0e1e4;
    background-color: #222f4f;
}
#categories{
    /* background-color: #ddd; */
    display: none;
    /* background-color: #ddd; */
}
#category_open{
    display: inline;
}
#category_close{
    display: none;
}
#more_news{
    display: none;
}
.card{
    background-color: #141527;
}

/* loader */

.loader-wrapper{
    width: 100%;
    height: 100%;
    background-color: #222f4f;
    position: absolute;
    left:0;
    top:0;
}

body, html {
    height: 100%;
    text-align: center;
}

body {
  background-color: #242F3F;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}
